<html>
    <head>
        <title> Armando's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/"><strong>Armando</strong> Blog</a></h1>
        <div>

        <div>
            <p>published:07.04.2021 20:14</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Pequeña descripción del blogdel primer post, dar click en el título para ver que hace, saludos</p>
        </div>

        <div>
            <p>published:07.04.2021 20:24</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Pequeña descripción del blog segundo post, dar click en el título para ver que hace, a continuación una lista
            <ul><li><strong>primer </strong> elemento</li><li>Segundo elemento</li></ul></p>
        </div>
    </body>
</html>
